@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

* {
   margin: 0;
   padding: 0;
}

html,
body {
   font-family: "Baloo Bhai 2", system-ui;
   margin: 0;
   height: 100vh;
   width: 100vw;
   scroll-behavior: smooth;
   overflow: hidden;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   height: 10vh;
   background-color: #fafafa;
   padding: 0vh 4vw;
   flex-wrap: wrap;
}


@media only screen and (max-width:480px) {
   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      height: 8vh;
      background-color: #fafafa;
      padding: 0vh 4vw;
   }
}

.Label {
   font-weight: bold;
   font-size: x-large;
   cursor: pointer;
}


@media only screen and (max-width:480px) {
   .Label {
      font-weight: bold;
      font-size: large;
      cursor: pointer;
   }
}

.Add {
   font-weight: 500;
   font-size: medium;
   cursor: pointer;
}


@media only screen and (max-width:480px) {
   .Add {
      font-weight: 400;
      font-size: small;
      cursor: pointer;
   }
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: auto;
   padding-top: 10vh;
}

@media only screen and (max-width:480px) {
   .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
      padding-top: 10vh;
   }
}

.container form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 1vw;
}

@media only screen and (max-width:480px) {
   .container form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2vw;
   }
}

.container form input {
   padding: 2vh 18vw 2vh 2vw;
   border-radius: 100vw;
   border: 1px solid #d9d9d9;
   background-color: #f3f3f3;
   font-size: large;
   max-width: 90vw;
   text-overflow: ellipsis;
}


@media only screen and (max-width:480px) {
   .container form input {
      padding: 2vh 10vw 2vh 6vw;
      border-radius: 100vw;
      border: 1px solid #d9d9d9;
      background-color: #f3f3f3;
      font-size: large;
      max-width: 90vw;
      text-overflow: ellipsis;
   }
}

.container form button {
   border-radius: 100vw;
   border: 1px solid #d9d9d9;
   background-color: #f3f3f3;
   max-width: 90vw;
   text-overflow: ellipsis;
   padding: 1.8vh 1.3vw;

   &:hover {
      border: solid 2px #2b2b2b;
      background-color: #e6e5e5;
   }
}


@media only screen and (max-width:480px) {
   .container form button {
      border-radius: 100vw;
      border: 1px solid #d9d9d9;
      background-color: #f3f3f3;
      max-width: 90vw;
      text-overflow: ellipsis;
      padding: 1.5vh 4vw 1.5vh 4vw;

      &:hover {
         border: solid 2px #2b2b2b;
         background-color: #e6e5e5;
      }
   }
}

.container .bookmarks {
   width: 100vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 3vh 4vw;
   gap: 1vw;
}


@media only screen and (max-width:480px) {
   .container .bookmarks {
      width: 90vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 3vh 4vw;
      gap: 3vw;
   }
}

.container a {
   padding: 1vh 1vw;
   background-color: #fafafa;
   border: 1px solid #d9d9d9;
   font-size: large;
   border-radius: 100vw;
   color: #1c1c1c;
   text-decoration: none;

   &:hover {
      background-color: #e6e5e5;
      border: solid 2px #5b5b5b;
   }
}

@media only screen and (max-width:480px) {
   .container a {
      padding: .8vh 4vw;
      background-color: #fafafa;
      border: 1px solid #d9d9d9;
      font-size: large;
      border-radius: 100vw;
      color: #1c1c1c;
      text-decoration: none;

      &:hover {
         background-color: #e6e5e5;
         border: solid 2px #5b5b5b;
      }
   }
}