@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

:root {
   --nav-color: #f2f2f2;
   --body-color: #fff;
   --container-color: #f8e8b9;
   --box1-color: #fa5a5a;
   --box2-color: #8490ff;
   --border-color: #262626;
   --font-color: #ffbbbb;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: large;
   font-weight: 500;
   color: #262626;
}

html,
body {
   font-family: "Baloo Bhai 2", system-ui;
   overflow-x: hidden;
   flex-wrap: wrap;
   max-width: 100vw;
   width: 100vw;
   height: 100vh;
   display: flex;
   gap: 2vh;
   background-color: white;
}

.header {
   position: sticky;
   top: 0;
   width: 100vw;
   height: 8vh;
   background-color: var(--nav-color);
   display: flex;
   justify-content: center;
   align-items: center;
}

.main {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2vh;
}

.container {
   background-color: var(--container-color);
   width: 100vw;
   height: 80vh;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
}

.box1 {
   background-color: var(--box1-color);
   height: 80%;
   width: 45%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box2 {
   background-color: var(--box2-color);
   height: 80%;
   width: 45%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.font {
   background-color: var(--font-color);
   width: 100vw;
   height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.font p {
   width: fit-content;
   height: fit-content;
   font-size: large;
   padding: 12px 24px;
   text-align: center;
   border-radius: 20vw;
   border: solid 1px var(--border-color);
}

.icon {
   height: 50px;
   width: 50px;
   position: fixed;
   right: 50px;
   bottom: 50px;
   border-radius: 100%;
   background-color: var(--border-color);
}

main .icon {
   height: 50px;
   width: 50px;
   position: fixed;
   right: 50px;
   bottom: 50px;
   border-radius: 100%;
}

.footer {
   margin-top: 2vh;
   bottom: 0;
   width: 100vw;
   height: 10vh;
   background-color: var(--nav-color);
   display: flex;
   justify-content: center;
   align-items: center;
}