* {
   margin: 0;
   padding: 0;
}

html,
body {
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100vw;
   gap: 5vh;
   margin-top: 5vh;
}

.videoContainer,
.audioContainer {
   min-width: 95vw;
   max-width: 95vw;
   background-color: #f5f5f5;
   margin: auto;
   box-sizing: border-box;
   padding: 4vh 8vw 4vh 8vw;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2vw;
   overflow-x: hidden;
   flex-wrap: wrap;
   border-radius: 2vw;
   border: 2px solid grey;
   margin: auto;

   &:hover {
      background-color: #e5e5e5;
      border: 2px solid rgb(111, 111, 111);
      transition: .6s;
   }
}